$font-family: 'Roboto', sans-serif;

$heading-color: #011936ff;

$text-color: #57595c;

$primary-color: #ed254eff;

$bg-default: #011936ff;

$bg-gray: #f5f7f9;

$bg-red: #ff0000;

$color-white: #ffffff;
